@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oswald:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;
}

main{
    overflow: hidden;
}

nav{
    position: fixed;
    width: 100%;
    background-color:black ;
    padding: 20px;
    text-align: center;
    box-shadow:-9px -14px 63px 0px rgba(255, 255, 255, 0.416) ;
}

nav > ul >li{
    display: inline-block;
    margin-left:10px;
}

nav > ul li a{
    color:#EBDD10 ;
    text-decoration: underline;
}

nav > ul >li >a:hover{
    color: orange;
    transition: .5s;
}

nav > h1{
    color: #EBDD10;
    font-family: oswald;
    font-size: 2.3em;
    margin-bottom: 15px;
}

div.banner{
    background: url(../imagens/banner.jpg);
    background-position: center center;
    height: 1000px;
    margin-top:0px;
    margin-bottom: 70px;
}

div.conteudo{
    background-color: rgb(255, 255, 255);
    height:auto;
    text-align: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

div.conteudo > p{
    margin-bottom: 30px;
}

div.conteudo > h2{
    margin-bottom: 75px;
}

div.conteudo > h3{
    margin-bottom: 30px;
}

div.conteudo > h4{
    padding: 30px;
}

.img1{
    margin-bottom: 20px;
}

.img2{
    margin-bottom: 50px;
    height: 300px;
}

.github{
    height: 50px;
}

.linkedin{
    height: 50px;
}

#github:hover{
    rotate: 360deg;
    transition: .5s;
    border-radius: 100px;
    box-shadow: -1px 7px 30px 0px black;
}

#linkedin:hover{
    rotate:-360deg;
    transition: .5s;
    border-radius: 100px;
    box-shadow: -1px 7px 30px 0px black;
}

iframe{
    padding-bottom: 20px;
}

footer{
    background-color: antiquewhite;
    text-align: center;
    height: 450px;
}

footer > h1{
    padding-top: 40px;
}

footer > p{
    padding-top: 70px;
}





